/* definisanje css-a na globalnom nivou */
* {
  margin:0;
  padding: 0;
  box-sizing: border-box; /*element svojom velecinom nece pokriti neki drugi element dobit ce efekat padinga kako bi bi stao */
}
/*container u kojem ce se nalaziti slike i parent elemt slika  */
.slider-wrap{
  position:fixed; /*element uvjek ostaje u sitoj na istoj poziciji bez obzira na scrolanje ili  mjenjanje velicine ekrana*/
  top: 20%;
  left:10%;
  width:80%;
  height:300px;
  overflow:hidden; /*u slicaju da element prelazi granice boxa, taj dio elementa nece biti vidljiv*/
  border: 1px solid black;

}
.slider {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:4000px;
  display:flex;/*za responzivnost elemenata koji se mjenjaju*/
  will-change:transform; /*upozorenje borwseru da se element moze mejenjati */
  background-color: black;
  
  }
  .slider-item{
    position:relative;
    flex:1;
    overflow:hidden;
    }
    .img-div{
      position:relative;
      left:1%;
      top:2.5%;
      width:98%;
      height:95%;
      background-size:cover;/*zauzimanje cijelog zadanog prostora*/
      background-position:center;
}